*{
    font-family: "Lato", sans-serif;
}

#header{
    background-color: #C70101;
    height: 75px;
    width: 100%;
}
#menu{
    height: 100%;
    width: 100%;

}

a{
    color: white;
    margin-top: 10%;
    margin: 10px;
}